<div id='map'></div>

<% if editable %>
  <p class="my-1 text-muted">Move the map to set the new map's bounding box. Also, use shift+Mouse move to define a bounding box.</p>
<% end %>

<script>
  function populateLatLong(){
      var bounds = map.getBounds();
      console.dir(bounds);

      // Lat1 = SW
      $('#map_lat1').val(bounds._sw.lat);
      $('#map_lng1').val(bounds._sw.lng);

      // Lat1 = NE
      $('#map_lat2').val(bounds._ne.lat);
      $('#map_lng2').val(bounds._ne.lng);

      $('#map_zoom').val(map.getZoom());
  }

  mapboxgl.accessToken = '<%= Settings.mapbox.access_token %>';
  window.map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v9',
      trackResize: true
  });

  <% unless map.new_record? %>
    map.fitBounds(<%= map.bounds.to_json %>);
  <% end %>

  map.addControl(new mapboxgl.NavigationControl(), 'top-left');
  map.addControl(new mapboxgl.GeolocateControl(),  'top-right');

  map.on('move', populateLatLong);  // move, movestart, moveend
  map.on('zoom', populateLatLong);  // zoom, zoomstart, zoomend
</script>