// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table tr td.mapcell {
  padding: 0.2rem
}

td.mapcell .mapimage {
  width: 48px;
}

.map_lng_lat {
  max-width: 145px;
}

// Limit the mapboxgl popup width. This to keep
// wide content from spilling out of the mapbox.
.mapboxgl-popup-content {
  max-width: 350px;
}
